pipeline/pp_get_latestfile_in_day.json
{
	"name": "pp_get_latestfile_in_day",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata File Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_dynamic_file_in_a_day",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata File Name').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata LastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_dynamic_filename",
									"type": "DatasetReference",
									"parameters": {
										"currentfilename": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata LastModifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata LastModifiedDate').output.lastModified, variables('var_oldmodifieddate'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable Filename",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_filename",
											"value": {
												"value": "@activity('Get Metadata LastModifiedDate').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable LastModified",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_oldmodifieddate",
								"value": {
									"value": "@activity('Get Metadata LastModifiedDate').output.lastModified",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_filename": {
				"type": "String"
			},
			"var_oldmodifieddate": {
				"type": "String",
				"defaultValue": "2020-03-26T02:48:17Z"
			}
		},
		"annotations": []
	}
}